a {
    font-size: 80px;
    color: white;
}
#experienced-web-developer {
    background: black;
}
.nav-item {
    font-size: 30px;
}
#nav-nupp {
    font-size: 60px;
}
.progress {
    height: 34px;
}
footer {
    margin-top: 150px;
}
#download-resume {
    margin-left: 50px;
}